.markdown-node-container {
    border: 1px solid purple;
    border-radius: 3px;
    padding-bottom: 25px;
    padding-right: 40px;
}

.markdown-node-container::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 130%;
    height: 130%;
    top: -15%;
    left: -15%;
}

.markdown-node-container ~ .react-flow__handle.new-handle {
    visibility: hidden;
}

.react-flow__handle.new-handle:hover, .markdown-node-container:hover ~ .react-flow__handle.new-handle {
    visibility: visible;
}

.selected .markdown-node-container {
    border: 3px solid deeppink;
}

.markdown-node-container .collapse-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.markdown-node-container .expand-button {
    position: absolute;
    top: 0;
    right: 0;
}