.markdown-editor-modal-container {
    height: 100%;
}

.markdown-editor-modal-container > .editor {
    height: 90%;
}

.markdown-editor-modal-container > .actions {
    margin: 0.5rem;
    display: flex;
    justify-content: right;
}

.save-button {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 0.5rem;
}

.cancel-button {
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid cornflowerblue;
    border-radius: 0.5rem;
}